.cart-container {
  max-width: 540px;
  height: 250px;
  background-color: #fff;
  box-shadow: 3px 3px 8px 0px rgba(145, 145, 145, 0.1);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
.img {
  position: absolute;
  top: 30px;
  margin-left: 20px;
  background-color: red;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.detailes-container {
  width: 185px;
  background-color: aquamarine;
  display: flex;
}
h3,
.description {
  margin-left: 110px;
  line-height: 1.5rem;
}
h3 {
  margin-top: 40px;
  font-size: 16px;
}
.description {
  font-size: 14px;
  color: #8e959b;
}
.details {
  width: 450px;
  height: 90px;
  color: #8e959b;
  margin-top: 30px;
  margin-left: 30px;
}

@media screen and (max-width: 820px) {
  .cart-container {
    max-width: 670px;
  }
}

@media screen and (max-width: 480px) {
  .cart-container {
    max-width: 350px;
    height: 305px;
  }
  .details {
    width: 300px;
    line-height: 1.5rem;
  }
}
